ul {
    list-style-type: disc ;
    /* margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important; */
    padding-inline-start: 40px !important;
}